<div class="container">
  <div class="row">
    <div class="offset-sm-1 offset-md-2 offset-lg-4 col-sm-10 col-md-8 col-lg-4">
      <!--{{#if err}}
        {{#each err}}
          <div class="alert alert-warning" role="alert">
            {{this.msg}}
          </div>
        {{/each}}
      {{/if}}-->
      <form method="POST" action="/signup/otp">
        <div class="form-group">
          <label for="displayName">Display Name</label>
          <input
            type="text"
            class="form-control"
            id="displayName"
            aria-describedby="name"
            placeholder="Example: Daniel Iván"
            name="displayName" />
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="email"
            placeholder="Example: firemachine69@mail.com"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
          <small id="emailLabel" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="occupation">Occupation</label>
          <select class="custom-select" name="occupation" id="occupation">
            <option value="0" selected>Student</option>
            <option value="1">Teacher</option>
            <option value="2">Administrative</option>
          </select>
        </div>
        <div class="form-group">
          <label for="college">College</label>
          <input
            type="text"
            class="form-control"
            id="college"
            aria-describedby="college"
            placeholder="Example: UAGro"
            name="college" />
        </div>
        <div class="form-group">
          <label for="degree">Degree</label>
          <input
            type="text"
            class="form-control"
            id="degree"
            aria-describedby="degree"
            placeholder="Example: Lic. en Matemáticas"
            name="degree" />
        </div>
        <button type="submit" name="signup" class="btn btn-primary">Submit</button>
      </form>
      <hr />
      <div>
        <p class="text-center">or</p>
        <a class="d-flex justify-content-center" href="/signup/google">
          <button class="btn">Sign up with Google</button>
        </a>
      </div>
    </div>
  </div>
</div>